gtk-color-scheme	= "bg_color:#3b3b3b"
gtk-color-scheme	= "fg_color:#ffffff"
gtk-color-scheme	= "base_color:#1d1e22" # Background, base.
gtk-color-scheme	= "text_color:#ffffff" # Foreground, text.
gtk-color-scheme	= "selected_bg_color:#007aff"
gtk-color-scheme	= "selected_fg_color:#ffffff"
gtk-color-scheme	= "tooltip_bg_color:#000000"
gtk-color-scheme	= "tooltip_fg_color:#ffffff" # Tooltips.
gtk-color-scheme	= "link_color:#1D8ECE" # Hyperlinks
gtk-color-scheme	= "panel_bg:#000000" # Panel bg color
gtk-color-scheme	= "fm_color:#ffffff" # Color used in Nautilus and Thunar.
gtk-color-scheme	= "bg_color_dark:#3b3b3b"
gtk-color-scheme	= "text_color_dark:#FFFFFF"
gtk-color-scheme	= "shadow_color:#FFFFFF" # Xfce desktp icons shadow color
